[submodule "mdx_bib"]
	path = mdx_bib
	url = https://github.com/darwindarak/mdx_bib
[submodule "sources/examples"]
	path = sources/examples
	url = https://github.com/Piercelab-Caltech/nupack-examples.git
